@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,body {
    height: 100%;
}

  body {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", Arial, sans-serif;
    min-height: 100%;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
    color: #333333;
    min-width: 1200px;
    margin: 0;
  }

  .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(130, 179, 211, 1);
    border: 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }


.page-header {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

/*Navigation*/

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    width: 339px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-user {
    width: 268px;
    margin-left: auto;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.navigation-link.button {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
}

.main-index {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: auto;
}

.count {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F
}

/* Main */
.main-container {
    flex-grow: 1;
}

.page-container {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*Hero*/

.bg-hero {
    display: flex;
    justify-content: center;
    background-image:
    url(../img/hero-vector.svg),
    url(../img/hero-background.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-color: #000000;
    min-height: 485px;
}

.logo-text {
    margin-top:51px;
}
.caption {
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.lead {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

/*Advantages*/

.advantages-list {
    display: flex;
    margin: 0;
    text-align: center;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}

.advantages-item {
    width: 400px;
}

.advantages-item.reason-one {
    display: flex;
    flex-direction: row;
    width: 1200px;
    background-color: rgba(130, 179, 211, 1);
    color: #FFFFFF;
}

.advantages-item.reason-two {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: rgba(130, 179, 211, 1);
    color: #FFFFFF;
}

.advantages-sublist {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item:nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

.second_description {
    min-height: 246px;
    padding: 64px 0;
}

.second_description h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.first_description {
    min-height: 261px;
    padding: 69px 0;
}

/*Comfort*/

.advantages-sublist-item {
    list-style: none;
}

.comfort-item-1,
.comfort-item-3 {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-hotels {
    min-height: 406px;
    padding: 96px 304px;
}

.search-hotels h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.search-hotels p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.button-search {
    font-family: inherit;
    background-color: #756157;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

/*Subscribe*/

.sub-news h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.sub-news p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe {
    background-image: url(../img/subscribe-img.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 415px;
    padding: 96px 258px 104px 258px;
}

/*Contacts*/

.footer-contacts {
    width: 1200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px 30px 70px;
}

.footer-social-item {
    list-style: none;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

/* Ð¡atalog.html */
/* Main */

.main-inner {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: auto;
}

.inner-header {
    background-image: url(../img/catalog-filter.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Filter */

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.button-res {
    background: none;
}

/* Searching results filter */

.searching-results h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.product-card-title {
    font-size: 24px;
    line-height: 28px;
}

.product-card-more {
    background-color: #756157;
}

.product-card-favorites-current {
    background-color: #7DB54F;
}

.rating-current {
    background-color: #F2F2F2;
}

/* Pagination */

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-color: #82B3D3;
}

.pagination-current {
    background-color:#F2F2F2;
}
